* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.3s;
}

.fundo{
    background-color:rgb(198, 154, 95);
}

.espaco{
    height: 30px;
}

.tabela{
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
    margin-left: 120px;
    
    background-color: white;
    height: 500px;
    width: 1000px;
    box-shadow: rgb(159, 123, 76) 20px 20px 20px;
}

.pergunta{
    text-align: left;
    margin-top: 50px;
    margin-left: 30px;
    

}

.botao{
    background-color: red;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    text-align: center;
    
}

.per{
    font-size: 30px;
    margin-bottom: 300px;
}

.foto{
    height: 500px;
    width: 500px;

    display: flex;
}

.texto{
    font-size: 30px;
}